.dynamic-revenue-container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background: #010B13;
  // background: rgb(3, 0, 31);
  color: white;
  font-family: sans-serif;
  min-height: 90vh;
  max-height: 100vh;
  display: flex;
  .sideBar{
    flex: 3;
    border-right: 2px solid rgb(100, 100, 100);
    display: block;
  }
  .brand{
    font-size: 1.2rem;
    margin-left:12px;
    margin-top: 5px;
  }
  .person-icon{
    margin-right: 8px;
  }
   
  .upperside{
    padding: 1.3rem;
    height: 70%;
  }
   
  .uppersidetop{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .midbtn{
    background: #5A4BFF;
    border: none;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
  } 
  .listitems{
    margin: 0.3rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
   
  .listitems>i{
    padding-right: 1rem;
  }
   
  .main{
    flex: 9;
    min-height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 5rem;
    margin-bottom: 0;
  }
   
  .chatfooter{
    /* margin-top: 0.5rem; */
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
   
  .chatfooter>p{
    margin: 0.2rem 0;
  }
   
  .chats{
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 70rem;
    // height: calc(100vh-6rem);
  }
   
  .chat{
    margin: 0.3rem;
    padding: 0.4rem 0.3rem;
    font-size: 1rem;
    display: flex;
    align-items: flex-start;
    text-align: justify;
  }
   
  .chaticon{
    object-fit: cover;
    width: 3,5rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
  }
   
  .user{
    background: rgba(28, 30, 58, 1);
    width: fit-content;
    border-radius: 0.5rem;
  }
  .inp{
    padding: 0.3rem;
    background: rgb(36, 39, 66);
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    width: 40rem;
  }
   
  .inp>input{
    width: 38rem;
    outline: none;
    padding: 0.5rem;
    color: white;
    display: flex;
  }
  .inp>input, .send{
    background: transparent;
    border: none;
    font-size: 1rem;
  }
   
  .sendbtn{
    font-size: 1.5rem;
    color: rgba(222, 222, 222, 0.34);
  }
   
  .toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    padding-bottom: 10px;
  }
   
  /* Styling for the smaller toggle switch input */
  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
   
  /* Styling for the smaller toggle switch slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;
  }
   
  /* Styling for the smaller toggle switch slider when it's active */
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
   
  /* Styling for the smaller toggle switch input when it's checked */
  input:checked + .slider {
    background-color: #5A4BFF;
  }
   
  /* Styling for the smaller toggle switch slider when it's active and checked */
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
   
  .txt{
    color: rgba(222,222,222,1);
  }
   
  img{
    display: block;
  }
  .search-icon{
    color: #fff;
  }
}
