<div class="working-days-edit-container">
  <h4 mat-dialog-title class="title">
    {{ accountName | accountName }} {{ " | " + location }}
    <strong>{{ currentYear }}</strong>
    <mat-icon mat-dialog-close class="close-modal-icon float-end ml-4">close</mat-icon>
  </h4>

<div mat-dialog-content>
  <div class="sub-container">
    <div *ngFor="let item of months">
    <!-- {{ item.name }} -->
    <form autocomplete="off" [formGroup]="editWorkingDaysForm">
      <mat-form-field class="form-field-container" appearance="outline">
      <mat-label class="custom-mat-label">{{ item.name }}</mat-label>
        <input
        [formControlName]="item.ctrl"
        matInput
        type="text"
        maxlength="2"
        [value]="workingDay"
        (input)="onChange($event.target)"
        numbersOnly
        />
      </mat-form-field>
    </form>
    </div>
  </div>

  <div *ngFor="let mon of months">
    <mat-error *ngIf= "this.editWorkingDaysForm.controls[mon.ctrl].hasError('max') || this.editWorkingDaysForm.controls[mon.ctrl].hasError('min')">
      Please enter value between 1 to 31
    </mat-error>
  </div>
</div>
  <br>
  <div mat-dialog-actions class="justify-content-center">
      <button mat-raised-button [ngClass]="isFormValid()?'disable-button':'update-button'" [disabled]="isFormValid()" (click)="onUpdate()">Update</button>
  </div>
</div>
