.holidays-in-days-edit-dialog{
  .close-modal-icon {
      color: #254067;
      cursor: pointer;
      margin-top: 19px;
      margin-left: 20px;
  }
  .enable-button{
        border-radius: 4px;
        text-align: right;
        font: normal normal bold 14px/21px Roboto;
        letter-spacing: 0px;
        background-color: #254067;
        color: #fff;
        font-weight: 400;
        margin-left: 10px;
        margin-bottom: 10px;

    }

  .disable-button{
        border-radius: 4px;
        text-align: right;
        font: normal normal bold 14px/21px Roboto;
        letter-spacing: 0px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
  .title{
      color:#254067;
  }

  .sub-container{
      display: flex;
      justify-content: space-between;
     // padding: 20px;
  }
  .title-text{
      font-size: 16px;
      font-weight: 400;
      line-height: 10px;
      font-family: Roboto, sans-serif;
      letter-spacing: .03125em;
      margin: -15px 0 16px;
  }
  .form-field-container {
      padding-top: 5px;
   //   width: 49px;
      display: flex;
      padding-right: 10px;
  }
::ng-deep .form-field-container .mat-mdc-text-field-wrapper{
      height: 55px !important;
      width: 75px !important;
  }
  .custom-mat-label {
      font-size: 1.3rem;
      font-weight: 500;
      color: #254067;
      //padding: 0 5px;
    }
    input {
    padding-top: 5px;
  }

  .button-container{
        display: flex;
        justify-content: space-between
    }
}
