<div class="login-card">
    <mat-card class="example-card">
        <mat-card-header>
          <div class="section-1">
            <div class="header-section">
              <img class="example-header-image" src="assets/image/HM_logo.png" alt="image">
              <label class="title-text">Sales Guidance</label>
            </div>

            <div class="sign-in-text">
            <span>Single sign on</span>
          </div>
          </div>
        </mat-card-header>

        <mat-card-content>
            <div class="email-div">
                <span>Sign in with your identity provider</span>
                <!-- <mat-form-field  class="email-field" appearance="outline">
                  <input matInput placeholder="Example.hh@happiestminds.com">
                </mat-form-field>
              </div>

              <div class="password-div">
                <span>Password</span>
                <mat-form-field  class="password-field" appearance="outline">
                  <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                  <button class="hide-icon" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field> -->
              </div>

        </mat-card-content>
        <div  class="signIn-button-div">
        <mat-card-actions>
          <button mat-raised-button class="sign-button" (click)="onSignIn()">Sales Guidance SSO</button>
        </mat-card-actions>
      </div>
      </mat-card>
    </div>
