.working-hour-edit-dialog{
    .close-modal-icon {
        color: #254067;
        cursor: pointer;
        margin-top: 19px;
        margin-left: 20px;
    }
    .update-button{
        border-radius: 4px;
        text-align: right;
        letter-spacing: 0px;
        background-color: #254067;
        color: #fff;
        font-weight: 400;
    }

    .disable-button{
        border-radius: 4px;
        text-align: right;
        font: normal normal bold 14px/21px Roboto;
        letter-spacing: 0px;
    }
    .form-field-container{
        width: 100px;
    }
    .title{
        color:#254067;
    }
    .custom-mat-label {
        font-size: 1.3rem;
        font-weight: 500;
        color: #254067;
        //padding: 0 5px;
      }
      input {
        padding-top: 5px;
      }
}
    
