.geo-location-container {
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 20px;
  .geo-location-title {
    font-weight: 500;
    color: #254067;
    border-bottom: 1px solid #254067;
    display: inline-block;
  }
  .search-box {
    position: relative;
    background-color: #02aab0;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 3px;
    width: 100%;
    max-width: 300px;
  }
  .search-box .search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    flex-grow: 1;
    margin-left: 25px;
  }
  .search-box .search-btn {
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  .search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
  }
  .search-box:hover > .search-btn {
    background: #fff;
  }
  .search-txt::placeholder {
    text-align: right;
    padding: 10px;
    color: #fff;
  }
  .table-wrapper {
    overflow-x: auto;
    border-top: 1px solid #f0eeee;
    border-left: 1px solid #f0eeee;
    border-right: 1px solid #f0eeee;
    border-bottom: 1px solid #f0eeee;
    .mat-mdc-table thead {
      background: #439495 !important;
    }
  }
  .paginator {
    border-top: 1px solid #f0eeee;
  }
  .leave-details-save-btn {
    color: #fff;
    background-color: #254067;
  }
  .table-edit-button {
    color: #3bb54a;
  }
  .table-view-button {
    color: #254067;
  }

  .Mat-classess .mat-mdc-table tbody,
  .mat-mdc-header-cell {
    background: #439495 !important;
  }
  .mdc-data-table__header-cell {
    color: #fff;
  }
  .addBtn {
    font-weight: 400;
    color: #fff;
    background: #254067;
  }
  .no-data-found {
    text-align: center;
    padding: 16px;
    font-size: 18px;
    color:#254067 ;
  }
}
