.file-upload-container {
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 20px;

  .file-upload-title {
    font-weight: 500;
    color: #254067;
    border-bottom: 1px solid #254067;
    display: inline-block;
    //position: relative;
  }

  .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    padding: 2px;
  }
  .save-btn-dialog {
    background-color: #254067;
    color: #fff;
    font-weight: 400;
  }
  table {
    width: 800px;
  }
  .disable-button {
    color: #53b750;
  }

  .remark-mat-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 12px 0px;
    display: unset;
  }

  .mat-column-SrNo,
  .mat-column-FileName,
  .mat-column-Remark {
    flex: 0 0 20%;
    padding-left: 10px;
  }
  .mat-column-Status,
  .mat-column-Download {
    flex: 0 0 10%;
    padding-left: 20px;
  }
  .mat-column-UploadedBy {
    flex: 0 0 10%;
    padding-left: 10px;
  }
  .search-box {
    position: relative;
    background-color: #02aab0;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 3px;
    width: 100%;
    max-width: 300px;
  }
  .search-box .search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    flex-grow: 1;
    margin-left: 25px;
  }

  .search-box .search-btn {
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
  }

  .search-box:hover > .search-btn {
    background: #fff;
  }

  .search-txt::placeholder {
    text-align: right;
    padding: 10px;
    color: #fff;
  }

  .table-wrapper {
    overflow-x: auto;
    // border-radius: 10px 10px 0 0;
    border-top: 1px solid #f0eeee;
    border-left: 1px solid #f0eeee;
    border-right: 1px solid #f0eeee;
    border-bottom: 1px solid #f0eeee;

    .mat-mdc-table thead {
      background: #439495 !important;
    }
  }

  .paginator {
    border: 1px solid #e4e4e4c5;

    border-radius: 5px;
    background: linear-gradient(to right bottom, #eff0f3, #e5e6eb);
  }

  .leave-details-save-btn {
    color: #fff;
    background-color: #254067;
  }

  .table-edit-button {
    color: #3bb54a;
  }

  //Mat-classess
  .mat-mdc-table tbody,
  .mat-mdc-header-cell {
    background: #439495 !important;
  }

  .mdc-data-table__header-cell {
    color: #fff;
  }
  .no-data-found {
    text-align: center;
    padding: 16px;
    font-size: 18px;
    color:#254067 ;
  }
}
